* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../IMAGES/random-fact-generator.jpg");
  background-size: cover;
  font-family: 'Segoe UI', sans-serif;
  /* background: #f0f4f8; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  /* background-color: #921a1a; */
}



.card {
  background: #d363a4;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  text-align: center;
  transition: all 0.3s ease;
}

.card h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.fact {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color: black;
  min-height: 80px;
}

button {
  background: #4f46e5;
  color: #fff;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #3730a3;
}