*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.box{
    width: 600px;
    height: 500px;
  border: 5px solid white ;
     
     margin-top: 20px;
     margin-left: 500px;
}
.container{
    display: flex;
}
body{
    background-image: url("../IMAGES/gif2.gif");
    background-size: cover;
}
